@font-face {
    font-family: SplinerSans;
    src: url(./assets/fonts/SplineSans-VariableFont_wght.ttf);
}
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SplinerSans';
    color: rgb(48, 48, 48);
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around ;
}

h2 {
    font-size: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: rgb(48, 48, 48);
    padding: 10px 20px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 20px 20px 20px 5px;
    transition: 1s;
}

.nav-link:hover {
    transition-duration: 0.7s;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(48, 48, 48);
    border-radius: 20px 20px 5px 20px; 
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .main-container {
        flex-direction: column;
    }
}

.main {
    align-self: flex-start;
    flex: 1;
}

.cv-photo {
    height: 400px;
    width: 300px;
    background-color: gray;
    margin: 0 auto;
}

.aside {
    background-color: rgb(209, 209, 209);
    padding: 0px 15px 15px 15px;
}

.section-container {
    padding: 30px;
    flex: 1;
    background-color: whitesmoke;
}

.code {
    font-size: 16px;
}

.header {
    flex: 1;
    background-color: rgb(209, 209, 209);
}

.footer {
    flex: 1;
    display: flex;
    flex-basis: 10vh;
    background-color: rgb(209, 209, 209);
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(48, 48, 48);
    transition-duration: 1s;
}
.link:hover {
    color: rgb(204, 27, 27);
    transition-duration: 0.5s;
}

.rslogo {
    margin: 0px 20px;
    width: 225px;
    height: 100px;
    background-image: url("./assets/img/logo-rsschool.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 50%;
    transition-duration: 1s;
}
.rslogo:hover {
    opacity: 100%;
    transition-duration: 1s;
}

.year {
    margin: auto;
}
.year:hover {
    transform: rotate(1080deg);
    transition-duration: 1s;
    color: red;
}

.gitlogo {
    margin: 0px 20px;
    width: 200px;
    height: 100px;
    background-image: url("./assets/img/GitHub-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 50%;
    transition-duration: 1s;
}
.gitlogo:hover {
    opacity: 100%;
    transition-duration: 1s;
}